<head>
  <title>Keeper App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "style", media: "all" %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style=" background-color: #1f4262">
  <div class="container asap-condensed-light">
    <div class="row gameon">
      <div class="col-md-4 asap-condensed-light">
        <h1>Game On.<br />Gear Out.</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
          suscipit urna sollicitudin, aliquet turpis et, sagittis urna. Fusce
          maximus luctus velit, a sagittis turpis molestie.
        </p>
        <!-- login box -->
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="actions">
          <button type="submit" class="btn btn-primary" onclick=<%= f.submit 'Log in'%>Log in</button>
        </div>
        <% end %>
        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag('keeper-transbg.png', alt: 'Keeper App Logo of Fish', style: 'float:right; margin: 20px; margin-bottom: -75px; width: 100%;')%>
      </div>
    </div>
  </div>

  <div class="features container" style="margin-top: 20px;">
    <h1 style="padding: 20px;">Features</h1>
    <div class="row">
      <div class="card" style="align-items: center; margin: 10px; width: 18rem; padding-top: 5px; padding-left:10px; padding-bottom: 20px">
        <%= image_tag "fishing-reel-lock-icon.png", height: "100", width: "75"%>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">Gear Locker</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="gearlocker" class="btn btn-primary">Open Locker</a>
        </div>
      </div>
      <div class="card" style="align-items: center; margin: 10px; margin-bottom: 10px; width: 18rem; padding-top: 5px; padding-left:10px; padding-bottom: 20px">
        <%= image_tag "lightning-159507.png", height: "100", width: "100"%>

        <div class="card-body">
          <h5 class="card-title" style="text-align: center">Fishing Forecast</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="forecast" class="btn btn-primary">Check Forecast</a>
        </div>
      </div>
      <div class="card" style="align-items: center; margin: 10px; margin-bottom: 10px; width: 18rem; padding-top: 5px; padding-left:10px; padding-bottom: 20px">
        <%= image_tag "locator-1093167.svg", height: "100", width: "75"%>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">Maps</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="margin: 10px; margin-bottom: 10px; width: 18rem; padding-top: 5px; padding-left:10px; padding-bottom: 20px">
        <img src="./assets/locator-1093167.svg" class="card-img-top features-image-size" alt="Gear Locker Icon">
        <div class="card-body">
          <h5 class="card-title">Tournaments</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>